n8n_workflow_chaphranakhon_fixed.json
{
  "name": "ระบบสั่งซื้อวัตถุดิบ (ชาพระนคร) - Fixed Webhooks",
  "nodes": [
    {
      "parameters": {
        "path": "get-user-profile",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-get-user-profile",
      "name": "GET /get-user-profile",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "2cc68d37-dad0-4dcd-93f7-b9fc2c29c3de",
      "notesInFlow": true,
      "notes": "GET ?uid=LINE_UID แล้วคืนข้อมูลสาขาและ addresses ให้ LIFF"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1341263323,
          "mode": "list",
          "cachedResultName": "Users_Addresses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=1341263323"
        },
        "options": {}
      },
      "id": "sheet-read-users",
      "name": "Read Users_Addresses",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        260,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const uid = String($node['GET /get-user-profile'].json.query?.uid || '').trim();\nconst rows = $input.all().map(item => item.json);\nconst row = rows.find(r => String(r.LINE_UID || '').trim() === uid);\n\nif (!row) {\n  return [{ json: { uid, displayName: '', branchName: '', addresses: [] } }];\n}\n\nconst branchName = String(row.Branch_Name || '').trim();\nconst displayName = String(row.Display_Name || '').trim();\nconst addresses = [1, 2, 3, 4, 5]\n  .map(num => {\n    const text = String(row[`Address_${num}`] || '').trim();\n    if (!text) return null;\n    const savedLabel = String(row[`Address_Label_${num}`] || '').trim();\n    return {\n      id: `addr-${num}`,\n      label: savedLabel || (num === 1 ? (branchName || displayName || `ที่อยู่ ${num}`) : `${branchName || displayName || 'ที่อยู่'} (${num})`),\n      text,\n    };\n  })\n  .filter(Boolean);\n\nreturn [{\n  json: {\n    uid,\n    displayName,\n    branchName,\n    opening: row.Opening || '',\n    tel: row.Tel || '',\n    addresses,\n  },\n}];"
      },
      "id": "code-format-profile",
      "name": "Format Profile Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-order",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-submit-order",
      "name": "POST /submit-order",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        260
      ],
      "webhookId": "ddebc1fe-7a15-413f-98ca-a5e1cac9a01b",
      "notesInFlow": true,
      "notes": "รับ payload จาก LIFF สาขา แล้วบันทึกลง Orders"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst now = new Date();\nconst yyyy = now.getFullYear();\nconst mm = String(now.getMonth() + 1).padStart(2, '0');\nconst dd = String(now.getDate()).padStart(2, '0');\nconst rand = String(Math.floor(Math.random() * 1000)).padStart(3, '0');\nconst orderId = body.orderId || `PO-${yyyy}${mm}${dd}-${rand}`;\nconst deliveryAddress = body.deliveryAddress || {};\nconst orderItems = Array.isArray(body.orderItems) ? body.orderItems : [];\nconst subtotal = Number(body.subtotal || 0);\n\nreturn [{\n  json: {\n    Order_ID: orderId,\n    Timestamp: body.timestamp || now.toISOString(),\n    LINE_UID: body.lineUid || body.uid || '',\n    Delivery_Address: JSON.stringify(deliveryAddress),\n    Order_Details: JSON.stringify({\n      displayName: body.displayName || '',\n      orderItems,\n      note: body.note || '',\n      isNewAddress: Boolean(body.isNewAddress),\n    }),\n    Subtotal: subtotal,\n    Shipping_Cost: 0,\n    Discount: 0,\n    Other_Fee: 0,\n    VAT_Amount: 0,\n    Total_Amount: subtotal,\n    Status: 'Pending',\n    response: {\n      success: true,\n      orderId,\n      status: 'Pending',\n    },\n  },\n}];"
      },
      "id": "code-build-order-row",
      "name": "Build Order Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        260
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1341263323,
          "mode": "list",
          "cachedResultName": "Users_Addresses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=1341263323"
        },
        "options": {}
      },
      "id": "sheet-read-users-for-submit",
      "name": "Read Users For Submit",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        520,
        260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parseJson(value, fallback) {\n  try { return value ? JSON.parse(value) : fallback; } catch { return fallback; }\n}\n\nconst order = $node['Build Order Row'].json;\nconst details = parseJson(order.Order_Details, {});\nconst deliveryAddress = parseJson(order.Delivery_Address, {});\nconst rows = $input.all().map(item => item.json);\nconst row = rows.find(r => String(r.LINE_UID || '').trim() === String(order.LINE_UID || '').trim()) || {};\n\nconst update = {\n  LINE_UID: order.LINE_UID,\n  Display_Name: row.Display_Name || details.displayName || '',\n  Branch_Name: row.Branch_Name || deliveryAddress.label || details.displayName || '',\n  Opening: row.Opening || '',\n  Tel: row.Tel || '',\n};\n\nfor (const num of [1, 2, 3, 4, 5]) {\n  update[`Address_${num}`] = row[`Address_${num}`] || '';\n  update[`Address_Label_${num}`] = row[`Address_Label_${num}`] || '';\n}\n\nconst newText = String(deliveryAddress.text || '').trim();\nconst newLabel = String(deliveryAddress.label || '').trim();\nconst existing = [1, 2, 3, 4, 5]\n  .map(num => String(update[`Address_${num}`] || '').trim())\n  .filter(Boolean);\n\nif (details.isNewAddress && newText && !existing.includes(newText)) {\n  const emptyNum = [1, 2, 3, 4, 5].find(num => !String(update[`Address_${num}`] || '').trim());\n  if (emptyNum) {\n    update[`Address_${emptyNum}`] = newText;\n    update[`Address_Label_${emptyNum}`] = newLabel || update.Branch_Name || `ที่อยู่ ${emptyNum}`;\n  }\n}\n\nreturn [{ json: update }];"
      },
      "id": "code-build-address-update-row",
      "name": "Build Address Update Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        260
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1341263323,
          "mode": "list",
          "cachedResultName": "Users_Addresses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=1341263323"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LINE_UID": "={{ $json.LINE_UID }}",
            "Display_Name": "={{ $json.Display_Name }}",
            "Branch_Name": "={{ $json.Branch_Name }}",
            "Opening": "={{ $json.Opening }}",
            "Tel": "={{ $json.Tel }}",
            "Address_1": "={{ $json.Address_1 }}",
            "Address_2": "={{ $json.Address_2 }}",
            "Address_3": "={{ $json.Address_3 }}",
            "Address_4": "={{ $json.Address_4 }}",
            "Address_5": "={{ $json.Address_5 }}",
            "Address_Label_1": "={{ $json.Address_Label_1 }}",
            "Address_Label_2": "={{ $json.Address_Label_2 }}",
            "Address_Label_3": "={{ $json.Address_Label_3 }}",
            "Address_Label_4": "={{ $json.Address_Label_4 }}",
            "Address_Label_5": "={{ $json.Address_Label_5 }}"
          },
          "matchingColumns": [
            "LINE_UID"
          ],
          "schema": [
            {
              "id": "LINE_UID",
              "displayName": "LINE_UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Display_Name",
              "displayName": "Display_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Branch_Name",
              "displayName": "Branch_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opening",
              "displayName": "Opening",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_1",
              "displayName": "Address_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_2",
              "displayName": "Address_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_3",
              "displayName": "Address_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_4",
              "displayName": "Address_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_5",
              "displayName": "Address_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_Label_1",
              "displayName": "Address_Label_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_Label_2",
              "displayName": "Address_Label_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_Label_3",
              "displayName": "Address_Label_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_Label_4",
              "displayName": "Address_Label_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_Label_5",
              "displayName": "Address_Label_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheet-update-user-address",
      "name": "Update User Address",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1040,
        260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order_ID": "={{ $node['Build Order Row'].json.Order_ID }}",
            "Timestamp": "={{ $node['Build Order Row'].json.Timestamp }}",
            "LINE_UID": "={{ $node['Build Order Row'].json.LINE_UID }}",
            "Delivery_Address": "={{ $node['Build Order Row'].json.Delivery_Address }}",
            "Order_Details": "={{ $node['Build Order Row'].json.Order_Details }}",
            "Subtotal": "={{ $node['Build Order Row'].json.Subtotal }}",
            "Shipping_Cost": "={{ $node['Build Order Row'].json.Shipping_Cost }}",
            "Total_Amount": "={{ $node['Build Order Row'].json.Total_Amount }}",
            "Status": "={{ $node['Build Order Row'].json.Status }}",
            "Discount": "={{ $node['Build Order Row'].json.Discount }}",
            "Other_Fee": "={{ $node['Build Order Row'].json.Other_Fee }}",
            "VAT_Amount": "={{ $node['Build Order Row'].json.VAT_Amount }}",
            "Admin_Note": "",
            "Approved_By": "",
            "Approved_At": "",
            "PO_PDF_File_ID": "",
            "PO_PDF_URL": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order_ID",
              "displayName": "Order_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINE_UID",
              "displayName": "LINE_UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery_Address",
              "displayName": "Delivery_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order_Details",
              "displayName": "Order_Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shipping_Cost",
              "displayName": "Shipping_Cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total_Amount",
              "displayName": "Total_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Other_Fee",
              "displayName": "Other_Fee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VAT_Amount",
              "displayName": "VAT_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Admin_Note",
              "displayName": "Admin_Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved_By",
              "displayName": "Approved_By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved_At",
              "displayName": "Approved_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PO_PDF_File_ID",
              "displayName": "PO_PDF_File_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PO_PDF_URL",
              "displayName": "PO_PDF_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheet-save-order",
      "name": "Save New Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1300,
        260
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const order = $node['Build Order Row'].json;\nreturn [{ json: order.response || { success: true, orderId: order.Order_ID } }];"
      },
      "id": "code-submit-response",
      "name": "Submit Order Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        260
      ]
    },
    {
      "parameters": {
        "path": "get-order",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-get-order",
      "name": "GET /get-order",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        520
      ],
      "webhookId": "get-order-chaphranakhon",
      "notesInFlow": true,
      "notes": "GET ?orderId=PO-... แล้วคืนข้อมูลสำหรับหน้า admin"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=0"
        },
        "options": {}
      },
      "id": "sheet-read-orders-for-get",
      "name": "Read Orders",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        260,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parseJson(value, fallback) {\n  try { return value ? JSON.parse(value) : fallback; } catch { return fallback; }\n}\n\nconst orderId = String($node['GET /get-order'].json.query?.orderId || '').trim();\nconst rows = $input.all().map(item => item.json);\nconst row = rows.find(r => String(r.Order_ID || '').trim() === orderId);\n\nif (!row) {\n  return [{ json: { success: false, message: 'Order not found', orderId } }];\n}\n\nconst deliveryAddress = parseJson(row.Delivery_Address, { label: '', text: row.Delivery_Address || '' });\nconst details = parseJson(row.Order_Details, { displayName: '', orderItems: [], note: '' });\nconst subtotal = Number(row.Subtotal || 0);\nconst shippingCost = Number(row.Shipping_Cost || 0);\nconst totalAmount = Number(row.Total_Amount || subtotal + shippingCost);\n\nreturn [{\n  json: {\n    orderId: row.Order_ID,\n    timestamp: row.Timestamp,\n    status: row.Status || 'Pending',\n    branchInfo: {\n      uid: row.LINE_UID || '',\n      displayName: details.displayName || row.LINE_UID || '',\n    },\n    deliveryAddress,\n    orderItems: details.orderItems || [],\n    subtotal,\n    shippingCost,\n    totalAmount,\n    note: details.note || '',\n  },\n}];"
      },
      "id": "code-format-order-response",
      "name": "Format Order Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        520
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-approve",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-admin-approve",
      "name": "POST /admin-approve",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        780
      ],
      "webhookId": "e259ba51-f5e9-47ac-8ebf-590f4086d827",
      "notesInFlow": true,
      "notes": "รับค่าขนส่งจาก admin แล้ว update Orders"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst shippingCost = Number(body.shippingCost || 0);\nconst discount = Number(body.discount || 0);\nconst otherFee = Number(body.otherFee || 0);\nconst subtotal = Number(body.subtotal || 0);\nconst amountBeforeVat = Math.max(0, subtotal + shippingCost + otherFee - discount);\nconst vatAmount = Number((body.vatAmount !== undefined ? Number(body.vatAmount) : amountBeforeVat * 0.07).toFixed(2));\nconst totalAmount = Number((body.totalAmount !== undefined ? Number(body.totalAmount) : amountBeforeVat + vatAmount).toFixed(2));\n\nreturn [{\n  json: {\n    Order_ID: body.orderId,\n    Branch_UID: body.branchUid || '',\n    Shipping_Cost: shippingCost,\n    Discount: discount,\n    Other_Fee: otherFee,\n    VAT_Amount: vatAmount,\n    Total_Amount: totalAmount,\n    Status: 'Approved',\n    Admin_Note: body.adminNote || '',\n    Approved_By: body.adminName || body.adminUid || '',\n    Approved_At: body.approvedAt || new Date().toISOString(),\n  },\n}];"
      },
      "id": "code-build-approval-row",
      "name": "Build Approval Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        780
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order_ID": "={{ $json.Order_ID }}",
            "Shipping_Cost": "={{ $json.Shipping_Cost }}",
            "Total_Amount": "={{ $json.Total_Amount }}",
            "Status": "={{ $json.Status }}",
            "Discount": "={{ $json.Discount }}",
            "Other_Fee": "={{ $json.Other_Fee }}",
            "VAT_Amount": "={{ $json.VAT_Amount }}",
            "Admin_Note": "={{ $json.Admin_Note }}",
            "Approved_By": "={{ $json.Approved_By }}",
            "Approved_At": "={{ $json.Approved_At }}"
          },
          "matchingColumns": [
            "Order_ID"
          ],
          "schema": [
            {
              "id": "Order_ID",
              "displayName": "Order_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINE_UID",
              "displayName": "LINE_UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery_Address",
              "displayName": "Delivery_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order_Details",
              "displayName": "Order_Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shipping_Cost",
              "displayName": "Shipping_Cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total_Amount",
              "displayName": "Total_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Other_Fee",
              "displayName": "Other_Fee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VAT_Amount",
              "displayName": "VAT_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Admin_Note",
              "displayName": "Admin_Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved_By",
              "displayName": "Approved_By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved_At",
              "displayName": "Approved_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheet-update-approval",
      "name": "Update Shipping & Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        520,
        780
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const approval = $node['Build Approval Row'].json;\nconst pdf = $node['Build PDF URL'].json;\nreturn [{\n  json: {\n    success: true,\n    orderId: approval.Order_ID,\n    status: approval.Status,\n    shippingCost: approval.Shipping_Cost,\n    discount: approval.Discount,\n    otherFee: approval.Other_Fee,\n    vatAmount: approval.VAT_Amount,\n    totalAmount: approval.Total_Amount,\n    pdfUrl: pdf.pdfUrl,\n  },\n}];"
      },
      "id": "code-approve-response",
      "name": "Approve Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3900,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "const order = $node['Build Order Row'].json;\nconst details = JSON.parse(order.Order_Details || '{}');\nconst delivery = JSON.parse(order.Delivery_Address || '{}');\nconst adminBaseUrl = $env.ADMIN_LIFF_URL || 'https://beginth.github.io/LineLiff-Chaphranakhon/admin/';\nconst url = `${adminBaseUrl}${adminBaseUrl.includes('?') ? '&' : '?'}orderId=${encodeURIComponent(order.Order_ID)}`;\nconst items = details.orderItems || [];\nconst firstItems = items.slice(0, 4).map(item => ({\n  type: 'text',\n  text: `• ${item.productName} x${item.quantity} = ฿${Number(item.lineTotal || 0).toLocaleString('th-TH')}`,\n  size: 'sm',\n  color: '#555555',\n  wrap: true,\n}));\n\nreturn [{\n  json: {\n    to: 'Ubf8eac64b74f2561e7191c2109fde8ea',\n    messages: [{\n      type: 'flex',\n      altText: `มีออเดอร์ใหม่ ${order.Order_ID}`,\n      contents: {\n        type: 'bubble',\n        header: {\n          type: 'box',\n          layout: 'vertical',\n          contents: [\n            { type: 'text', text: 'ออเดอร์ใหม่', weight: 'bold', size: 'lg', color: '#B11226' },\n            { type: 'text', text: order.Order_ID, size: 'sm', color: '#666666' },\n          ],\n        },\n        body: {\n          type: 'box',\n          layout: 'vertical',\n          spacing: 'sm',\n          contents: [\n            { type: 'text', text: `สาขา: ${delivery.label || details.displayName || order.LINE_UID}`, wrap: true },\n            { type: 'text', text: `ยอดวัตถุดิบ: ฿${Number(order.Subtotal || 0).toLocaleString('th-TH')}`, weight: 'bold' },\n            ...firstItems,\n          ],\n        },\n        footer: {\n          type: 'box',\n          layout: 'vertical',\n          contents: [{\n            type: 'button',\n            style: 'primary',\n            color: '#B11226',\n            action: { type: 'uri', label: 'ตรวจสอบ / อนุมัติ', uri: url },\n          }],\n        },\n      },\n    }],\n  },\n}];"
      },
      "id": "code-build-admin-line-message",
      "name": "Build Admin LINE Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.LINE_CHANNEL_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-notify-admin-line",
      "name": "Notify Admin LINE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        260
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=0"
        },
        "options": {}
      },
      "id": "sheet-read-orders-for-pdf",
      "name": "Read Orders For PDF",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        780,
        780
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parseJson(value, fallback) {\n  try { return value ? JSON.parse(value) : fallback; } catch { return fallback; }\n}\n\nconst approval = $node['Build Approval Row'].json;\nconst rows = $input.all().map(item => item.json);\nconst row = rows.find(r => String(r.Order_ID || '').trim() === String(approval.Order_ID || '').trim());\nif (!row) throw new Error(`Order not found for PDF: ${approval.Order_ID}`);\n\nconst deliveryAddress = parseJson(row.Delivery_Address, { label: '', text: row.Delivery_Address || '' });\nconst details = parseJson(row.Order_Details, { displayName: '', orderItems: [], note: '' });\nconst items = details.orderItems || [];\nconst subtotal = Number(row.Subtotal || 0);\nconst shippingCost = Number(approval.Shipping_Cost || row.Shipping_Cost || 0);\nconst discount = Number(approval.Discount || 0);\nconst otherFee = Number(approval.Other_Fee || 0);\nconst amount = Math.max(0, subtotal + shippingCost + otherFee - discount);\nconst vat = Number((amount * 0.07).toFixed(2));\nconst total = Number((amount + vat).toFixed(2));\n\nconst values = [\n  { range: 'Form VAT!C15', values: [[details.displayName || deliveryAddress.label || row.LINE_UID || '']] },\n  { range: 'Form VAT!C16', values: [[deliveryAddress.label || details.displayName || '']] },\n  { range: 'Form VAT!C17', values: [[deliveryAddress.text || '']] },\n  { range: 'Form VAT!C18', values: [[details.displayName || '']] },\n  { range: 'Form VAT!C19', values: [['']] },\n  { range: 'Form VAT!G16', values: [['เลขที่ :']] },\n  { range: 'Form VAT!H16', values: [[approval.Order_ID]] },\n  { range: 'Form VAT!G18', values: [['วันที่ :']] },\n  { range: 'Form VAT!H18', values: [[approval.Approved_At || new Date().toISOString()]] },\n];\n\nconst itemRows = Array.from({ length: 15 }, (_, index) => {\n  const item = items[index];\n  if (!item) return ['', '', '', '', '', '', ''];\n  return [\n    index + 1,\n    approval.Order_ID,\n    item.productName || '',\n    Number(item.quantity || 0),\n    item.unit || '',\n    Number(item.pricePerUnit || 0),\n    Number(item.lineTotal || 0),\n  ];\n});\nvalues.push({ range: 'Form VAT!B22:H36', values: itemRows });\nvalues.push({ range: 'Form VAT!H37', values: [[subtotal]] });\nvalues.push({ range: 'Form VAT!H38', values: [[discount]] });\nvalues.push({ range: 'Form VAT!H39', values: [[amount]] });\nvalues.push({ range: 'Form VAT!H40', values: [[vat]] });\nvalues.push({ range: 'Form VAT!H41', values: [[shippingCost + otherFee]] });\nvalues.push({ range: 'Form VAT!H43', values: [[total]] });\n\nreturn [{\n  json: {\n    orderId: approval.Order_ID,\n    branchUid: approval.Branch_UID || row.LINE_UID || '',\n    branchName: deliveryAddress.label || details.displayName || row.LINE_UID || '',\n    subtotal,\n    shippingCost,\n    discount,\n    otherFee,\n    vatAmount: vat,\n    totalAmount: total,\n    fileName: `PO_${approval.Order_ID}.pdf`,\n    copiedSheetName: `VAT_${approval.Order_ID}`,\n    templateFileId: $env.VAT_TEMPLATE_FILE_ID || 'PUT_VAT_TEMPLATE_FILE_ID_HERE',\n    folderId: $env.PO_DRIVE_FOLDER_ID || 'PUT_PO_DRIVE_FOLDER_ID_HERE',\n    valuesBatchUpdate: {\n      valueInputOption: 'USER_ENTERED',\n      data: values,\n    },\n  },\n}];"
      },
      "id": "code-build-vat-payload",
      "name": "Build VAT PDF Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.templateFileId + '/copy' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.copiedSheetName, parents: [$json.folderId], mimeType: 'application/vnd.google-apps.spreadsheet' }) }}",
        "options": {}
      },
      "id": "http-copy-vat-template",
      "name": "Copy VAT Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        780
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $node['Build VAT PDF Payload'].json;\nconst copied = $json;\nreturn [{\n  json: {\n    ...payload,\n    spreadsheetId: copied.id,\n    copiedFileId: copied.id,\n  },\n}];"
      },
      "id": "code-merge-copied-template",
      "name": "Merge Copied Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $json.spreadsheetId + '/values:batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.valuesBatchUpdate) }}",
        "options": {}
      },
      "id": "http-fill-vat-template",
      "name": "Fill VAT Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        780
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $node['Merge Copied Template'].json;\nreturn [{ json: payload }];"
      },
      "id": "code-restore-vat-payload",
      "name": "Restore VAT Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        780
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.copiedFileId + '/export?mimeType=application/pdf' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "responseFormat": "file",
        "outputPropertyName": "data",
        "options": {}
      },
      "id": "http-export-vat-pdf",
      "name": "Export VAT PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        780
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $node['Restore VAT Payload'].json;\nconst upload = $json;\nconst pdfFileId = upload.id || payload.copiedFileId;\nreturn [{\n  json: {\n    ...payload,\n    pdfFileId,\n    pdfUrl: `https://drive.google.com/file/d/${pdfFileId}/view?usp=drivesdk`,\n  },\n  binary: $binary,\n}];"
      },
      "id": "code-build-pdf-url",
      "name": "Build PDF URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        780
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order_ID": "={{ $json.orderId }}",
            "PO_PDF_File_ID": "={{ $json.pdfFileId }}",
            "PO_PDF_URL": "={{ $json.pdfUrl }}"
          },
          "matchingColumns": [
            "Order_ID"
          ],
          "schema": [
            {
              "id": "Order_ID",
              "displayName": "Order_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PO_PDF_File_ID",
              "displayName": "PO_PDF_File_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PO_PDF_URL",
              "displayName": "PO_PDF_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheet-update-pdf-url",
      "name": "Update PDF URL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3120,
        780
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $node['Build PDF URL'].json;\nreturn [{\n  json: {\n    to: payload.branchUid,\n    messages: [{\n      type: 'flex',\n      altText: `ใบสั่งซื้อ ${payload.orderId} อนุมัติแล้ว`,\n      contents: {\n        type: 'bubble',\n        header: {\n          type: 'box',\n          layout: 'vertical',\n          contents: [\n            { type: 'text', text: 'อนุมัติคำสั่งซื้อแล้ว', weight: 'bold', size: 'lg', color: '#B11226' },\n            { type: 'text', text: payload.orderId, size: 'sm', color: '#666666' },\n          ],\n        },\n        body: {\n          type: 'box',\n          layout: 'vertical',\n          spacing: 'sm',\n          contents: [\n            { type: 'text', text: `สาขา: ${payload.branchName}`, wrap: true },\n            { type: 'text', text: `ยอดรวมสุทธิ: ฿${Number(payload.totalAmount || 0).toLocaleString('th-TH', { minimumFractionDigits: 2 })}`, weight: 'bold' },\n          ],\n        },\n        footer: {\n          type: 'box',\n          layout: 'vertical',\n          contents: [{\n            type: 'button',\n            style: 'primary',\n            color: '#B11226',\n            action: { type: 'uri', label: 'ดูใบสั่งซื้อ PDF', uri: payload.pdfUrl },\n          }],\n        },\n      },\n    }],\n  },\n}];"
      },
      "id": "code-build-branch-line-message",
      "name": "Build Branch LINE Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3380,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.LINE_CHANNEL_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-notify-branch-line",
      "name": "Notify Branch LINE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({ name: $node['Restore VAT Payload'].json.fileName, parents: [$node['Restore VAT Payload'].json.folderId], mimeType: 'application/pdf' }) }}"
            },
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "http-upload-vat-pdf",
      "name": "Upload VAT PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        780
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "GET /get-user-profile": {
      "main": [
        [
          {
            "node": "Read Users_Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Users_Addresses": {
      "main": [
        [
          {
            "node": "Format Profile Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /submit-order": {
      "main": [
        [
          {
            "node": "Build Order Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Order Row": {
      "main": [
        [
          {
            "node": "Read Users For Submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Users For Submit": {
      "main": [
        [
          {
            "node": "Build Address Update Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Address Update Row": {
      "main": [
        [
          {
            "node": "Update User Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Address": {
      "main": [
        [
          {
            "node": "Save New Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save New Order": {
      "main": [
        [
          {
            "node": "Build Admin LINE Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /get-order": {
      "main": [
        [
          {
            "node": "Read Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Orders": {
      "main": [
        [
          {
            "node": "Format Order Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /admin-approve": {
      "main": [
        [
          {
            "node": "Build Approval Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Approval Row": {
      "main": [
        [
          {
            "node": "Update Shipping & Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Shipping & Status": {
      "main": [
        [
          {
            "node": "Read Orders For PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Admin LINE Message": {
      "main": [
        [
          {
            "node": "Notify Admin LINE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin LINE": {
      "main": [
        [
          {
            "node": "Submit Order Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Orders For PDF": {
      "main": [
        [
          {
            "node": "Build VAT PDF Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build VAT PDF Payload": {
      "main": [
        [
          {
            "node": "Copy VAT Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy VAT Template": {
      "main": [
        [
          {
            "node": "Merge Copied Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Copied Template": {
      "main": [
        [
          {
            "node": "Fill VAT Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fill VAT Template": {
      "main": [
        [
          {
            "node": "Restore VAT Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore VAT Payload": {
      "main": [
        [
          {
            "node": "Export VAT PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export VAT PDF": {
      "main": [
        [
          {
            "node": "Upload VAT PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF URL": {
      "main": [
        [
          {
            "node": "Update PDF URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update PDF URL": {
      "main": [
        [
          {
            "node": "Build Branch LINE Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Branch LINE Message": {
      "main": [
        [
          {
            "node": "Notify Branch LINE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Branch LINE": {
      "main": [
        [
          {
            "node": "Approve Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload VAT PDF": {
      "main": [
        [
          {
            "node": "Build PDF URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fixed-local-draft-20260714",
  "meta": {
    "instanceId": "c20a6dd4079f66152f6eb0e4f4430ccd14d2f96a74552098f94caca40dd51250"
  },
  "nodeGroups": [],
  "tags": []
}
