outputs/modular/01_order_intake_po.json
{
  "name": "Chaphranakhon - 01_order_intake_po",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-order",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "https://beginth.github.io"
        }
      },
      "id": "7914b36d-1e20-4032-b14a-d849211c9f89",
      "name": "POST /submit-order",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        28976,
        9104
      ],
      "notesInFlow": true,
      "notes": "เธฃเธฑเธ payload เธเธฒเธ LIFF เธชเธฒเธเธฒ เนเธฅเนเธงเธเธฑเธเธ—เธถเธเธฅเธ Orders"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst now = new Date();\nconst yyyy = now.getFullYear();\nconst mm = String(now.getMonth() + 1).padStart(2, '0');\nconst dd = String(now.getDate()).padStart(2, '0');\nconst rand = String(Math.floor(Math.random() * 1000)).padStart(3, '0');\nconst orderId = body.orderId || `PO-${yyyy}${mm}${dd}-${rand}`;\nconst deliveryAddress = body.deliveryAddress || {};\nconst orderItems = Array.isArray(body.orderItems) ? body.orderItems : [];\nconst subtotal = Number(body.subtotal || 0);\n\nreturn [{\n  json: {\n    Order_ID: orderId,\n    Timestamp: body.timestamp || now.toISOString(),\n    LINE_UID: body.lineUid || body.uid || '',\n    Delivery_Address: JSON.stringify(deliveryAddress),\n    Order_Details: JSON.stringify({\n      displayName: body.displayName || '',\n      orderItems,\n      note: body.note || '',\n      isNewAddress: Boolean(body.isNewAddress),\n      orderSource: 'LINE_LIFF',\n      orderSourceLabel: 'สั่งซื้อผ่าน LINE LIFF',\n    }),\n    Subtotal: subtotal,\n    Shipping_Cost: 0,\n    Discount: 0,\n    Other_Fee: 0,\n    VAT_Amount: 0,\n    Total_Amount: subtotal,\n    Status: 'Pending',\n    response: {\n      success: true,\n      orderId,\n      status: 'Pending',\n    },\n  },\n}];"
      },
      "id": "82a0e541-b91e-43a3-a684-f884d081783f",
      "name": "Build Order Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        29248,
        9104
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1341263323,
          "mode": "list",
          "cachedResultName": "Users_Addresses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=1341263323"
        },
        "options": {}
      },
      "id": "bfc0776f-8008-4ff6-a570-2b0e426f8987",
      "name": "Read Users For Submit",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        29504,
        9104
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parseJson(v,f){try{return v?JSON.parse(v):f}catch{return f}}\nconst order=$node['Build Order Row'].json;\nconst details=parseJson(order.Order_Details,{});\nconst address=parseJson(order.Delivery_Address,{});\nconst rows=$input.all().map(item=>item.json);\nconst row=rows.find(r=>String(r.LINE_UID||'').trim()===String(order.LINE_UID||'').trim())||{};\nconst update={LINE_UID:order.LINE_UID,Display_Name:row.Display_Name||details.displayName||'',Branch_Name:row.Branch_Name||address.label||details.displayName||'',Opening:row.Opening||'',Tel:String(address.tel||row.Tel||'').trim(),Contact_Name:row.Contact_Name||address.contactName||details.displayName||''};\nfor(const num of [1,2,3,4,5]){update['Address_'+num]=row['Address_'+num]||'';update['Address_Label_'+num]=row['Address_Label_'+num]||'';update['Contact_Name_'+num]=row['Contact_Name_'+num]||'';}\nconst newText=String(address.text||'').trim();\nif(details.isNewAddress&&newText){let num=[1,2,3,4,5].find(n=>String(update['Address_'+n]||'').trim()===newText);if(!num)num=[1,2,3,4,5].find(n=>!String(update['Address_'+n]||'').trim());if(num){update['Address_'+num]=newText;update['Address_Label_'+num]=address.label||update.Branch_Name||('เธ—เธตเนเธญเธขเธนเน '+num);update['Contact_Name_'+num]=address.contactName||details.displayName||'';}}\nreturn [{json:update}];"
      },
      "id": "437ee476-9c63-4ef9-9244-ac0586e4a6ff",
      "name": "Build Address Update Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        29760,
        9104
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1341263323,
          "mode": "list",
          "cachedResultName": "Users_Addresses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=1341263323"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LINE_UID": "={{ $json.LINE_UID }}",
            "Display_Name": "={{ $json.Display_Name }}",
            "Branch_Name": "={{ $json.Branch_Name }}",
            "Opening": "={{ $json.Opening }}",
            "Tel": "={{ $json.Tel }}",
            "Address_1": "={{ $json.Address_1 }}",
            "Address_2": "={{ $json.Address_2 }}",
            "Address_3": "={{ $json.Address_3 }}",
            "Address_4": "={{ $json.Address_4 }}",
            "Address_5": "={{ $json.Address_5 }}",
            "Address_Label_1": "={{ $json.Address_Label_1 }}",
            "Address_Label_2": "={{ $json.Address_Label_2 }}",
            "Address_Label_3": "={{ $json.Address_Label_3 }}",
            "Address_Label_4": "={{ $json.Address_Label_4 }}",
            "Address_Label_5": "={{ $json.Address_Label_5 }}",
            "Contact_Name": "={{ $json.Contact_Name }}",
            "Contact_Name_1": "={{ $json.Contact_Name_1 }}",
            "Contact_Name_2": "={{ $json.Contact_Name_2 }}",
            "Contact_Name_3": "={{ $json.Contact_Name_3 }}",
            "Contact_Name_4": "={{ $json.Contact_Name_4 }}",
            "Contact_Name_5": "={{ $json.Contact_Name_5 }}"
          },
          "matchingColumns": [
            "LINE_UID"
          ],
          "schema": [
            {
              "id": "LINE_UID",
              "displayName": "LINE_UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Display_Name",
              "displayName": "Display_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Branch_Name",
              "displayName": "Branch_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opening",
              "displayName": "Opening",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_1",
              "displayName": "Address_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_2",
              "displayName": "Address_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_3",
              "displayName": "Address_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_4",
              "displayName": "Address_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_5",
              "displayName": "Address_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_Label_1",
              "displayName": "Address_Label_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_Label_2",
              "displayName": "Address_Label_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_Label_3",
              "displayName": "Address_Label_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_Label_4",
              "displayName": "Address_Label_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address_Label_5",
              "displayName": "Address_Label_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact_Name",
              "displayName": "Contact_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact_Name_1",
              "displayName": "Contact_Name_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact_Name_2",
              "displayName": "Contact_Name_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact_Name_3",
              "displayName": "Contact_Name_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact_Name_4",
              "displayName": "Contact_Name_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact_Name_5",
              "displayName": "Contact_Name_5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ad696dc3-c44d-4afc-a981-0692ed76fec9",
      "name": "Update User Address",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        30016,
        9104
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order_ID": "={{ $node['Build Order Row'].json.Order_ID }}",
            "Timestamp": "={{ $node['Build Order Row'].json.Timestamp }}",
            "LINE_UID": "={{ $node['Build Order Row'].json.LINE_UID }}",
            "Delivery_Address": "={{ $node['Build Order Row'].json.Delivery_Address }}",
            "Order_Details": "={{ $node['Build Order Row'].json.Order_Details }}",
            "Subtotal": "={{ $node['Build Order Row'].json.Subtotal }}",
            "Shipping_Cost": "={{ $node['Build Order Row'].json.Shipping_Cost }}",
            "Total_Amount": "={{ $node['Build Order Row'].json.Total_Amount }}",
            "Status": "={{ $node['Build Order Row'].json.Status }}",
            "Discount": "={{ $node['Build Order Row'].json.Discount }}",
            "Other_Fee": "={{ $node['Build Order Row'].json.Other_Fee }}",
            "VAT_Amount": "={{ $node['Build Order Row'].json.VAT_Amount }}",
            "Admin_Note": "",
            "Approved_By": "",
            "Approved_At": "",
            "PO_PDF_File_ID": "",
            "PO_PDF_URL": "",
            "Adjustment_Reason": "",
            "Approved_By_UID": "",
            "Approval_History": ""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order_ID",
              "displayName": "Order_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINE_UID",
              "displayName": "LINE_UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery_Address",
              "displayName": "Delivery_Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order_Details",
              "displayName": "Order_Details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shipping_Cost",
              "displayName": "Shipping_Cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total_Amount",
              "displayName": "Total_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Other_Fee",
              "displayName": "Other_Fee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VAT_Amount",
              "displayName": "VAT_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Admin_Note",
              "displayName": "Admin_Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved_By",
              "displayName": "Approved_By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved_At",
              "displayName": "Approved_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PO_PDF_File_ID",
              "displayName": "PO_PDF_File_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PO_PDF_URL",
              "displayName": "PO_PDF_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Adjustment_Reason",
              "displayName": "Adjustment_Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approved_By_UID",
              "displayName": "Approved_By_UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Approval_History",
              "displayName": "Approval_History",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "13024f49-bfd6-42b5-97a7-08cca8ec0afd",
      "name": "Save New Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        30288,
        9104
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const order = $node['Build Order Row'].json;\nreturn [{ json: order.response || { success: true, orderId: order.Order_ID } }];"
      },
      "id": "7a6765de-3e78-4cee-b93e-feffdc3fceb0",
      "name": "Submit Order Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        31312,
        9104
      ]
    },
    {
      "name": "Build Purchase Order Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        29504,
        8848
      ],
      "parameters": {
        "jsCode": "\nfunction parse(v){ try { return v ? JSON.parse(v) : {}; } catch { return {}; } }\nfunction val(o, keys, fallback=''){ for (const k of keys) if (o?.[k] !== undefined && o[k] !== null && String(o[k]).trim() !== '') return o[k]; return fallback; }\nfunction thaiDate(v){ const d = v ? new Date(v) : new Date(); return new Intl.DateTimeFormat('en-GB',{timeZone:'Asia/Bangkok',day:'2-digit',month:'2-digit',year:'numeric'}).format(Number.isNaN(d.getTime()) ? new Date() : d); }\nconst rows = $input.all().map(i => i.json);\nconst base = $node['Build Order Row'].json;\nconst row = rows.find(i => String(i.Order_ID || '') === String(base.orderId || base.Order_ID || ''));\nif (!row) throw new Error('Order not found while creating Purchase Order');\nconst delivery = parse(row.Delivery_Address), details = parse(row.Order_Details);\nconst items = (details.orderItems || []).filter(i => Number(val(i,['quantity','Quantity','qty'],0)) > 0);\nconst buyer = val(details,['buyerName','displayName','contactName'], '');\nconst branch = val(delivery,['label','branchName'], buyer);\nconst address = val(delivery,['text','address'], '');\nconst contact = val(delivery,['contactName','contact'], buyer);\nconst tel = val(delivery,['tel','phone','mobile'], '');\nconst subtotal = Number(base.subtotal ?? row.Subtotal ?? items.reduce((s,i)=>s+Number(i.lineTotal||0),0));\nconst discount = Number(base.discount ?? row.Discount ?? 0), shipping = Number(base.shippingCost ?? row.Shipping_Cost ?? 0), otherFee = Number(base.otherFee ?? row.Other_Fee ?? 0), vat = Number(base.vatAmount ?? row.VAT_Amount ?? 0), total = Number(base.totalAmount ?? row.Total_Amount ?? subtotal);\nconst filled = Array.from({length:20}, (_,i) => items[i] || null);\nconst values = [\n  {range:'Purchase Order!D14',values:[[buyer]]},{range:'Purchase Order!D15',values:[[branch]]},{range:'Purchase Order!D16',values:[[address]]},{range:'Purchase Order!D17',values:[[contact]]},{range:'Purchase Order!G17',values:[[tel ? 'Tel. '+tel : 'Tel.']]},{range:'Purchase Order!J15',values:[[base.orderId || base.Order_ID]]},{range:'Purchase Order!J17',values:[[thaiDate(base.createdAt || base.approvedAt || row.Timestamp)]]},{range:'Purchase Order!D18',values:[['ช่องทางการสั่งซื้อ: LINE LIFF | ' + (details.note || '')]]},\n  {range:'Purchase Order!B22:B41',values:filled.map((i,n)=>[i?n+1:''])},{range:'Purchase Order!C22:C41',values:filled.map(i=>[i?val(i,['productId','Product_ID','id']):''])},{range:'Purchase Order!E22:E41',values:filled.map(i=>[i?val(i,['productName','Product_Name','name']):''])},{range:'Purchase Order!G22:G41',values:filled.map(i=>[i?Number(val(i,['quantity','Quantity','qty'],0)):''])},{range:'Purchase Order!H22:H41',values:filled.map(i=>[i?val(i,['unit','Unit','UOM']):''])},{range:'Purchase Order!I22:I41',values:filled.map(i=>[i?Number(val(i,['pricePerUnit','Price','price'],0)):''])},{range:'Purchase Order!J22:J41',values:filled.map(i=>[i?Number(i.lineTotal ?? Number(val(i,['quantity','Quantity','qty'],0))*Number(val(i,['pricePerUnit','Price','price'],0))):''])},\n  {range:'Purchase Order!J42',values:[[vat]]},{range:'Purchase Order!J43',values:[[shipping+otherFee]]},{range:'Purchase Order!J45',values:[[total]]}\n];\nreturn [{json:{ orderId: base.orderId || base.Order_ID, branchUid: base.branchUid || row.LINE_UID || '', branchName: branch, fileName:'PO-'+(base.orderId || base.Order_ID)+'.pdf', copiedSheetName:'PO_'+(base.orderId || base.Order_ID), templateFileId:'1cYR0UlHe8WyTTA8X2iC9M703lN1i0sa1OgeUG0VfpdI', folderId:'1mnFGZrSUFsEA9NkohmNYwXKJf6OEqrhj', valuesBatchUpdate:{valueInputOption:'USER_ENTERED',data:values}, documentType:'Purchase Order', documentId:'Purchase Order-'+(base.orderId || base.Order_ID), createdAt:new Date().toISOString(), createdByUid:base.adminUid || '', createdByName:base.adminName || '', note:details.note || ''}}];"
      },
      "id": "v15-1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $json.templateFileId + '/copy' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.copiedSheetName, parents: [$json.folderId], mimeType: 'application/vnd.google-apps.spreadsheet' }) }}",
        "options": {}
      },
      "id": "v15-2",
      "name": "Copy Purchase Order Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        29760,
        8848
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "QFxTIh9zRRzFm0DM",
          "name": "Google account DevCharphranakhon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Build Purchase Order Payload').item.json; return { json: { ...payload, spreadsheetId: $json.id, copiedFileId: $json.id } };",
        "mode": "runOnceForEachItem"
      },
      "id": "v15-3",
      "name": "Merge Purchase Order Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        30016,
        8848
      ]
    },
    {
      "id": "v15-4",
      "name": "Get Copied Purchase Order Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        30272,
        8848
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $json.spreadsheetId + '?fields=sheets.properties(sheetId,title)' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleOAuth2Api": {
          "id": "QFxTIh9zRRzFm0DM",
          "name": "Google account DevCharphranakhon"
        }
      }
    },
    {
      "id": "v15-5",
      "name": "Attach Purchase Order Sheet ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        30528,
        8848
      ],
      "parameters": {
        "jsCode": "const payload = $node['Merge Purchase Order Template'].json; const sheets = Array.isArray($json.sheets) ? $json.sheets : []; const sheet = sheets.find(i => i.properties?.title === 'Purchase Order') || sheets[0]; if (!Number.isInteger(sheet?.properties?.sheetId)) throw new Error('No usable sheetId for Purchase Order'); return [{json:{...payload, documentSheetId:sheet.properties.sheetId}}];"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sheets.googleapis.com/v4/spreadsheets/' + $json.spreadsheetId + '/values:batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.valuesBatchUpdate) }}",
        "options": {}
      },
      "id": "v15-6",
      "name": "Fill Purchase Order Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        30784,
        8848
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "QFxTIh9zRRzFm0DM",
          "name": "Google account DevCharphranakhon"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { json: $node['Attach Purchase Order Sheet ID'].json, binary: $binary };",
        "mode": "runOnceForEachItem"
      },
      "id": "v15-7",
      "name": "Restore Purchase Order Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        31040,
        8848
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://docs.google.com/spreadsheets/d/' + $json.copiedFileId + '/export?format=pdf&size=A4&portrait=true&scale=4&fitw=true&sheetnames=false&printtitle=false&pagenumbers=false&gridlines=false&fzr=false&top_margin=0&bottom_margin=0&left_margin=0&right_margin=0&gid=' + $json.documentSheetId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "id": "v15-8",
      "name": "Export Purchase Order PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        31296,
        8848
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "QFxTIh9zRRzFm0DM",
          "name": "Google account DevCharphranakhon"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Restore Purchase Order Payload').item.json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1mnFGZrSUFsEA9NkohmNYwXKJf6OEqrhj",
          "mode": "url"
        },
        "options": {}
      },
      "id": "v15-9",
      "name": "Upload Purchase Order PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        31552,
        8848
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cdmoEPoXq7Z84EIJ",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Restore Purchase Order Payload').item.json; const fileId = $json.id || payload.copiedFileId; return {json:{...payload,pdfFileId:fileId,pdfUrl:'https://drive.google.com/file/d/'+fileId+'/view?usp=drivesdk'},binary:$binary};",
        "mode": "runOnceForEachItem"
      },
      "id": "v15-10",
      "name": "Build Purchase Order PDF URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        31808,
        8848
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order_ID": "={{ $node['Build Purchase Order PDF URL'].json.orderId }}",
            "PO_PDF_File_ID": "={{ $node['Build Purchase Order PDF URL'].json.pdfFileId }}",
            "PO_PDF_URL": "={{ $node['Build Purchase Order PDF URL'].json.pdfUrl }}"
          },
          "matchingColumns": [
            "Order_ID"
          ],
          "schema": [
            {
              "id": "Order_ID",
              "displayName": "Order_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Status",
              "displayName": "Payment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Proof_URL",
              "displayName": "Payment_Proof_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Proof_File_ID",
              "displayName": "Payment_Proof_File_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Submitted_At",
              "displayName": "Payment_Submitted_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Amount",
              "displayName": "Payment_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Transfer_At",
              "displayName": "Payment_Transfer_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Note",
              "displayName": "Payment_Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "v15-12",
      "name": "Update Purchase Order URL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        32320,
        8848
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "name": "Log Purchase Order Document",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        32064,
        8848
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB"
        },
        "sheetName": {
          "__rl": true,
          "value": "Documents",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Document_ID": "={{ $node['Build Purchase Order PDF URL'].json.documentId }}",
            "Order_ID": "={{ $node['Build Purchase Order PDF URL'].json.orderId }}",
            "Document_Type": "={{ $node['Build Purchase Order PDF URL'].json.documentType }}",
            "File_ID": "={{ $node['Build Purchase Order PDF URL'].json.pdfFileId }}",
            "File_URL": "={{ $node['Build Purchase Order PDF URL'].json.pdfUrl }}",
            "Created_At": "={{ $node['Build Purchase Order PDF URL'].json.createdAt }}",
            "Created_By_UID": "={{ $node['Build Purchase Order PDF URL'].json.createdByUid || '' }}",
            "Created_By_Name": "={{ $node['Build Purchase Order PDF URL'].json.createdByName || '' }}",
            "Status": "Created",
            "Note": "={{ $node['Build Purchase Order PDF URL'].json.note || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Document_ID",
              "displayName": "Document_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order_ID",
              "displayName": "Order_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Document_Type",
              "displayName": "Document_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File_ID",
              "displayName": "File_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File_URL",
              "displayName": "File_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created_At",
              "displayName": "Created_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created_By_UID",
              "displayName": "Created_By_UID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created_By_Name",
              "displayName": "Created_By_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      },
      "id": "v15-11"
    },
    {
      "id": "0d2ad943-f277-42a0-8c68-08e3d9c831b0",
      "name": "Read Admins For Notify",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        30544,
        9104
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Admins",
          "mode": "name",
          "cachedResultName": "Admins",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const order = $node['Build Order Row'].json;\nconst admins = $input.all().map(item => item.json);\nfunction asBool(value) {\n  if (typeof value === 'boolean') return value;\n  return ['true', '1', 'yes', 'y'].includes(String(value || '').trim().toLowerCase());\n}\nfunction parseJson(value, fallback) {\n  try { return value ? JSON.parse(value) : fallback; } catch { return fallback; }\n}\nconst details = parseJson(order.Order_Details, {});\nconst address = parseJson(order.Delivery_Address, {});\nconst poUrl = $node['Build Purchase Order PDF URL'].json.pdfUrl;\nconst subtotal = Number(order.Subtotal || 0).toLocaleString('th-TH', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\nconst branch = address.label || details.branchName || details.displayName || order.LINE_UID;\nreturn admins.filter(admin => {\n  const uid = String(admin.LINE_UID || admin.lineUid || '').trim();\n  return uid && String(admin.Status || '').trim().toLowerCase() === 'active' && asBool(admin.Notify_Order);\n}).map(admin => ({ json: {\n  adminId: admin.Admin_ID || '',\n  adminName: admin.Display_Name || '',\n  to: String(admin.LINE_UID || admin.lineUid || '').trim(),\n  text: [\n    'มีคำสั่งซื้อใหม่รออนุมัติ',\n    'เลขที่: ' + order.Order_ID,\n    'สาขา: ' + branch,\n    'ยอดสั่งซื้อเบื้องต้น: ฿' + subtotal,\n    'ช่องทาง: LINE LIFF',\n    'PO ภายใน: ' + poUrl,\n    'กดอนุมัติ: https://liff.line.me/2010570929-BJxo68XQ?orderId=' + encodeURIComponent(order.Order_ID)\n  ].join('\\n')\n} }));"
      },
      "id": "f6b9a3a8-a8d3-4e73-a9bb-54aa3ab9a79d",
      "name": "Build Admin LINE Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        30800,
        9104
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $json.to }}",
        "messages": {
          "values": [
            {
              "text": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        31056,
        9104
      ],
      "id": "490c20b7-1670-4f9a-8258-efc94adf5cf0",
      "name": "Send Line Admin02",
      "credentials": {
        "lineMessagingApi": {
          "id": "4YlidIdv3s5ML4GE",
          "name": "Line Messaging rkitja2523"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "POST /submit-order": {
      "main": [
        [
          {
            "node": "Build Order Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Order Row": {
      "main": [
        [
          {
            "node": "Read Users For Submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Users For Submit": {
      "main": [
        [
          {
            "node": "Build Address Update Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Address Update Row": {
      "main": [
        [
          {
            "node": "Update User Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Address": {
      "main": [
        [
          {
            "node": "Save New Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save New Order": {
      "main": [
        [
          {
            "node": "Build Purchase Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Admin LINE Message": {
      "main": [
        [
          {
            "node": "Send Line Admin02",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Line Admin02": {
      "main": [
        [
          {
            "node": "Submit Order Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Admins For Notify": {
      "main": [
        [
          {
            "node": "Build Admin LINE Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Purchase Order Payload": {
      "main": [
        [
          {
            "node": "Copy Purchase Order Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Purchase Order Template": {
      "main": [
        [
          {
            "node": "Merge Purchase Order Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Purchase Order Template": {
      "main": [
        [
          {
            "node": "Get Copied Purchase Order Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Copied Purchase Order Metadata": {
      "main": [
        [
          {
            "node": "Attach Purchase Order Sheet ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Purchase Order Sheet ID": {
      "main": [
        [
          {
            "node": "Fill Purchase Order Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fill Purchase Order Template": {
      "main": [
        [
          {
            "node": "Restore Purchase Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Purchase Order Payload": {
      "main": [
        [
          {
            "node": "Export Purchase Order PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Purchase Order PDF": {
      "main": [
        [
          {
            "node": "Upload Purchase Order PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Purchase Order PDF": {
      "main": [
        [
          {
            "node": "Build Purchase Order PDF URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Purchase Order PDF URL": {
      "main": [
        [
          {
            "node": "Update Purchase Order URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Purchase Order Document": {
      "main": [
        [
          {
            "node": "Read Admins For Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Purchase Order URL": {
      "main": [
        [
          {
            "node": "Log Purchase Order Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": null,
  "meta": {
    "deliveryNoteVersion": "V9 HIDE ZERO QUANTITY CLEAN IMPORT",
    "generatedAt": "2026-07-19T14:09:22.778Z",
    "templateFileId": "1FYHjC9DjMpYJmc4fLo_sr6mOE-kKfp6OVQnrAqer8KY",
    "sheetId": 906132224,
    "itemsPerPage": 20,
    "itemFontSize": "10pt",
    "itemRowHeight": "17px",
    "pdfExport": "A4 portrait fit-to-page, margins=0",
    "columnWidthsPx": [
      18,
      42,
      58,
      58,
      118,
      118,
      66,
      58,
      88,
      96
    ],
    "signatureRows": "Row 53=24px, Row 54=4px, Rows 55-57=25px each, Row 58=4px, Row 59=18px",
    "zeroQuantityRule": "Items with approved quantity less than or equal to zero are excluded from the Delivery Note before pagination.",
    "documentType": "Delivery Note / Tax Invoice",
    "outputFolderId": "1IBbwvnGB157SfL-766gvHNQqIljH5sfa",
    "creditTermsDays": 7
  },
  "tags": []
}
