outputs/modular/07_branch_application_registration.json
{
  "name": "07 - Branch Application Registration",
  "nodes": [
    {"parameters":{"httpMethod":"POST","path":"submit-branch-application","responseMode":"lastNode","options":{"allowedOrigins":"https://beginth.github.io"}},"id":"webhook-branch-application","name":"POST /submit-branch-application","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-760,120]},
    {"parameters":{"jsCode":"const b = $json.body || $json;\nconst required = ['lineUid','branchName','ownerName','tel','address','subdistrict','district','province','postalCode'];\nconst value = (key) => String(b[key] || '').trim();\nconst missing = required.filter((key) => !value(key));\nif (missing.length) throw new Error(`ข้อมูลไม่ครบ: ${missing.join(', ')}`);\nconst tel = value('tel').replace(/[\\s-]/g, '');\nif (!/^\\+?[0-9]{8,15}$/.test(tel)) throw new Error('เบอร์โทรศัพท์ไม่ถูกต้อง');\nif (!/^\\d{5}$/.test(value('postalCode'))) throw new Error('รหัสไปรษณีย์ต้องมี 5 หลัก');\nconst now = new Date();\nconst ymd = now.toISOString().slice(0,10).replace(/-/g,'');\nconst applicationId = `BA-${ymd}-${String(Math.floor(Math.random()*10000)).padStart(4,'0')}`;\nreturn [{json:{Application_ID:applicationId,Submitted_At:b.submittedAt || now.toISOString(),LINE_UID:value('lineUid'),LINE_Display_Name:value('lineDisplayName'),Branch_Name:value('branchName'),Owner_Name:value('ownerName'),Tel:tel,Email:value('email'),Address:value('address'),Subdistrict:value('subdistrict'),District:value('district'),Province:value('province'),Postal_Code:value('postalCode'),Google_Map_URL:value('googleMapUrl'),Tax_ID:value('taxId'),Status:'Pending',Reviewed_At:'',Reviewed_By_UID:'',Reviewed_By_Name:'',Reject_Reason:''}}];"},"id":"validate-branch-application","name":"Validate Branch Application","type":"n8n-nodes-base.code","typeVersion":2,"position":[-530,120]},
    {"parameters":{"documentId":{"__rl":true,"value":"1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks","mode":"list","cachedResultName":"Chaphranakhon_DB"},"sheetName":{"__rl":true,"value":"Branch_Applications","mode":"name","cachedResultName":"Branch_Applications"},"options":{}},"id":"read-branch-applications","name":"Read Branch Applications","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-300,120],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"ZPODlcDmX45WFVuM","name":"Google Sheets account 2"}}},
    {"parameters":{"jsCode":"const application = $node['Validate Branch Application'].json;\nconst rows = $input.all().map(i => i.json);\nconst previous = rows.find(r => String(r.LINE_UID || '') === application.LINE_UID && ['Pending','Approved'].includes(String(r.Status || '')));\nconst canSubmit = !previous;\nreturn [{json:{...application,canSubmit,response: canSubmit ? null : {success:false,message: previous.Status === 'Approved' ? 'บัญชีนี้ได้รับการอนุมัติแล้ว' : 'มีคำขอที่กำลังรอการตรวจสอบอยู่',applicationId:previous.Application_ID || ''}}}];"},"id":"check-duplicate","name":"Check Existing Application","type":"n8n-nodes-base.code","typeVersion":2,"position":[-70,120]},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"can-submit","leftValue":"={{ $json.canSubmit }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}},"id":"can-submit","name":"Can Submit Application?","type":"n8n-nodes-base.if","typeVersion":2,"position":[160,120]},
    {"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks","mode":"list","cachedResultName":"Chaphranakhon_DB"},"sheetName":{"__rl":true,"value":"Branch_Applications","mode":"name","cachedResultName":"Branch_Applications"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"id":"append-branch-application","name":"Append Pending Application","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[410,60],"credentials":{"googleSheetsOAuth2Api":{"id":"ZPODlcDmX45WFVuM","name":"Google Sheets account 2"}}},
    {"parameters":{"jsCode":"const a = $node['Check Existing Application'].json;\nreturn [{json:{success:true,message:'ส่งคำขอสมัครสาขาเรียบร้อย',applicationId:a.Application_ID,status:'Pending'}}];"},"id":"success-response","name":"Build Success Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,60]},
    {"parameters":{"jsCode":"return [{json:$node['Check Existing Application'].json.response}];"},"id":"duplicate-response","name":"Build Existing Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[410,220]}
  ],
  "connections":{"POST /submit-branch-application":{"main":[[{"node":"Validate Branch Application","type":"main","index":0}]]},"Validate Branch Application":{"main":[[{"node":"Read Branch Applications","type":"main","index":0}]]},"Read Branch Applications":{"main":[[{"node":"Check Existing Application","type":"main","index":0}]]},"Check Existing Application":{"main":[[{"node":"Can Submit Application?","type":"main","index":0}]]},"Can Submit Application?":{"main":[[{"node":"Append Pending Application","type":"main","index":0}],[{"node":"Build Existing Response","type":"main","index":0}]]},"Append Pending Application":{"main":[[{"node":"Build Success Response","type":"main","index":0}]]}},
  "active":false,
  "settings":{"executionOrder":"v1"},
  "versionId":"branch-application-registration-v1"
}
