outputs/n8n_workflow_chaphranakhon_branch_history_payment_proof_v10_clean_import.json
{
  "name": "Chaphranakhon Branch History and Payment Proof V10 CLEAN IMPORT",
  "active": false,
  "nodes": [
    {
      "id": "8d8bccdb-97b4-4d50-9461-cae581090358",
      "name": "GET /get-order-history",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        -180
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "get-order-history",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=0"
        },
        "options": {}
      },
      "id": "50e08794-79bb-4007-ad0a-4db236f4d917",
      "name": "Read Orders For Branch History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -760,
        -180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "id": "9b591cfa-f7a0-47b7-94be-20c6b06b6258",
      "name": "Build Branch Order History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        -180
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nfunction parseJson(value, fallback) { try { return value ? JSON.parse(value) : fallback; } catch { return fallback; } }\nconst uid = String($node['GET /get-order-history'].json.query?.uid || '').trim();\nif (!uid) throw new Error('uid is required');\nconst orders = $input.all().map(item => item.json)\n  .filter(row => String(row.LINE_UID || '').trim() === uid)\n  .map(row => ({\n    orderId: row.Order_ID || '', timestamp: row.Timestamp || '', status: row.Status || 'Pending',\n    totalAmount: Number(row.Total_Amount || 0), paymentStatus: row.Payment_Status || 'รอชำระเงิน',\n    paymentSubmittedAt: row.Payment_Submitted_At || '', paymentProofUrl: row.Payment_Proof_URL || '',\n    pdfUrl: String(row.PO_PDF_URL || '').split(/\\n|,/).map(value => value.trim()).find(Boolean) || '',\n    adjustmentReason: row.Adjustment_Reason || '', orderDetails: parseJson(row.Order_Details, {}),\n  }))\n  .sort((a, b) => new Date(b.timestamp || 0) - new Date(a.timestamp || 0));\nreturn [{ json: { success: true, uid, orders } }];"
      }
    },
    {
      "id": "fe516782-5ca7-4cc3-bc6f-72171a362c57",
      "name": "Respond Order History",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -280,
        -180
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    },
    {
      "id": "8d41174c-1c22-4968-9eb8-bda0fac2cd50",
      "name": "POST /submit-payment-proof",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        180
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-payment-proof",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=0"
        },
        "options": {}
      },
      "id": "25b784f3-8799-4e04-b625-00c35c3bc257",
      "name": "Read Orders For Payment Proof",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -760,
        180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "id": "da58979c-5a59-41b7-a185-dfa5807c3fb0",
      "name": "Build Payment Proof Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        180
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst body = $node['POST /submit-payment-proof'].json.body || $node['POST /submit-payment-proof'].json;\nconst uid = String(body.lineUid || body.uid || '').trim();\nconst orderId = String(body.orderId || '').trim();\nconst amount = Number(body.amount || 0);\nconst transferAt = body.transferAt || '';\nconst note = String(body.note || '').trim();\nconst proofDataUrl = String(body.proofDataUrl || '');\nif (!uid || !orderId || !Number.isFinite(amount) || amount <= 0 || !transferAt || !proofDataUrl) throw new Error('Missing payment proof fields');\nconst order = $input.all().map(item => item.json).find(row => String(row.Order_ID || '').trim() === orderId && String(row.LINE_UID || '').trim() === uid);\nif (!order) throw new Error('Order not found or does not belong to this user');\nif (String(order.Status || '').toLowerCase() !== 'approved') throw new Error('Only approved orders can submit payment proof');\nconst currentPayment = String(order.Payment_Status || '').toLowerCase();\nif (['submitted', 'verified', 'paid'].includes(currentPayment)) throw new Error('Payment proof was already submitted for this order');\nconst match = proofDataUrl.match(/^data:(image\\/(?:jpeg|png|webp));base64,([A-Za-z0-9+/=]+)$/);\nif (!match) throw new Error('Only JPG, PNG, or WEBP proof images are accepted');\nconst bytes = Math.floor(match[2].length * 0.75);\nif (bytes > 5 * 1024 * 1024) throw new Error('Proof image must be 5 MB or smaller');\nconst ext = match[1] === 'image/png' ? 'png' : match[1] === 'image/webp' ? 'webp' : 'jpg';\nconst safeName = 'PAYMENT_' + orderId.replace(/[^A-Za-z0-9_-]/g, '_') + '_' + Date.now() + '.' + ext;\nreturn [{ json: { orderId, lineUid: uid, amount, transferAt, note, submittedAt: new Date().toISOString(), proofFileName: safeName }, binary: { data: { data: match[2], mimeType: match[1], fileName: safeName, fileExtension: ext } } }];"
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "inputDataFieldName": "data",
        "name": "={{ $node['Build Payment Proof Binary'].json.proofFileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/REPLACE_WITH_PAYMENT_PROOF_FOLDER_ID",
          "mode": "url"
        },
        "options": {}
      },
      "id": "e6a7600d-4549-4891-adc0-c16500b92db1",
      "name": "Upload Payment Proof",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -280,
        180
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cdmoEPoXq7Z84EIJ",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "id": "8d25829b-fa35-46fa-9ddf-41391841650e",
      "name": "Build Payment Proof Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        180
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "\nconst source = $node['Build Payment Proof Binary'].json;\nconst fileId = String($json.id || $json.fileId || '');\nif (!fileId) throw new Error('Google Drive upload did not return a file id');\nreturn [{ json: { ...source, paymentStatus: 'Submitted', paymentProofFileId: fileId, paymentProofUrl: 'https://drive.google.com/file/d/' + fileId + '/view' } }];"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks",
          "mode": "list",
          "cachedResultName": "Chaphranakhon_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aKwY4KOo8uGCRrHASD539Habt5Obam8meacRO-ir0Ks/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order_ID": "={{ $json.orderId }}",
            "Payment_Status": "={{ $json.paymentStatus }}",
            "Payment_Proof_URL": "={{ $json.paymentProofUrl }}",
            "Payment_Proof_File_ID": "={{ $json.paymentProofFileId }}",
            "Payment_Submitted_At": "={{ $json.submittedAt }}",
            "Payment_Amount": "={{ $json.amount }}",
            "Payment_Transfer_At": "={{ $json.transferAt }}",
            "Payment_Note": "={{ $json.note }}"
          },
          "matchingColumns": [
            "Order_ID"
          ],
          "schema": [
            {
              "id": "Order_ID",
              "displayName": "Order_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Status",
              "displayName": "Payment_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Proof_URL",
              "displayName": "Payment_Proof_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Proof_File_ID",
              "displayName": "Payment_Proof_File_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Submitted_At",
              "displayName": "Payment_Submitted_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Amount",
              "displayName": "Payment_Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Transfer_At",
              "displayName": "Payment_Transfer_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Note",
              "displayName": "Payment_Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b69b5e5c-fec6-481d-aff6-fa53df07e5ef",
      "name": "Update Payment Proof Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        200,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZPODlcDmX45WFVuM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "id": "3417be10-0732-4f43-b174-b785b681413f",
      "name": "Respond Payment Proof",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        440,
        180
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "GET /get-order-history": {
      "main": [
        [
          {
            "node": "Read Orders For Branch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Orders For Branch History": {
      "main": [
        [
          {
            "node": "Build Branch Order History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Branch Order History": {
      "main": [
        [
          {
            "node": "Respond Order History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /submit-payment-proof": {
      "main": [
        [
          {
            "node": "Read Orders For Payment Proof",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Orders For Payment Proof": {
      "main": [
        [
          {
            "node": "Build Payment Proof Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payment Proof Binary": {
      "main": [
        [
          {
            "node": "Upload Payment Proof",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Payment Proof": {
      "main": [
        [
          {
            "node": "Build Payment Proof Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payment Proof Update": {
      "main": [
        [
          {
            "node": "Update Payment Proof Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Payment Proof Status": {
      "main": [
        [
          {
            "node": "Respond Payment Proof",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "version": "V10",
    "purpose": "Branch order history and payment proof upload",
    "paymentProofFolderId": "REPLACE_WITH_PAYMENT_PROOF_FOLDER_ID",
    "requiredOrderColumns": [
      "Payment_Status",
      "Payment_Proof_URL",
      "Payment_Proof_File_ID",
      "Payment_Submitted_At",
      "Payment_Amount",
      "Payment_Transfer_At",
      "Payment_Note"
    ]
  }
}
